.hidden {
   display: none;
}
form {
  margin-left: 15px;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.jspsych-display-element {
  width: 100% !important;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  margin: auto;
}

body {
  background-color: #f3f3f3;
}

p, h1, h2, h3, h4  {
  margin: 20px 15px 20px 15px;
}

.contact-info {
  margin-left: 15px;
}

#jspsych-progressbar-container {
  margin-bottom: 0 !important;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1071;
}

button {
  font-family: 'Open Sans', 'Arial', sans-serif !important;
}

.header {
  background-color: #36418C;
  color: #a9afd8;
  padding: 1rem 15px;
}

.footer {
  background-color: #36418C;
  color: #a9afd8;
  padding: 1rem 15px;
}

.footer p {
  font-size: 1rem;
}

div.header h1 {
  font-size: 2.5rem;
  color: #f3f3f3;
  font-weight: 300;
}

div.header p {
  font-size: 1.25rem;
  font-weight: 300;
}

.logo {
  width: 100px;
}

hr.style-eight { padding: 0; border: none; border-top: medium double #a9afd8; color: #a9afd8; text-align: center; } hr.style-eight:after { content: "§"; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.25em; }

.form-error {
  font-size: 0.75em;
  color: #c23d6d;
}
